<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <% if(hobbies.length){ %>
  <ul>

    <% hobbies.forEach(h => { %>
      <li><%= h.name %> - <a href="<%= h._id %>">view details</a></li> 
    <% })%>
  </ul>
  <% } else { %>
  <p>No Hobbies Here!</p>
  <% } %>

  <form method="POST" action="/">
    <input type="text" name="name">
    <input type="text" name="description">
    <input type="submit" value="Submit Hobby">
  </form>
</body>

</html>